{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.sala.label(class="form-control-label") }}
                    {% if form.sala.errors %}
                        {{ form.sala(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sala.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sala(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </p>
                <div>
                    {{ form.data.label(class="form-control-label") }}
                    {% if form.data.errors %}
                        {{ form.data(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.data.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.data(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </p>
                <div class="form-group">
                    {{ form.hora_inicio.label(class="form-control-label") }}
                    {% if form.hora_inicio.errors %}
                        {{ form.hora_inicio(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.hora_inicio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.hora_inicio(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </p>
                <div class="form-group">
                    {{ form.hora_fim.label(class="form-control-label") }}
                    {% if form.hora_fim.errors %}
                        {{ form.hora_fim(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.hora_fim.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.hora_fim(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </p>
                <script>
                    function mostrarDataFimRepeticao(el){
                            //colocando limite de maximo e minimo para a data de fim de repetição
                            var numero_meses_para_fim_repeticao = 3

                            var date = new Date();
                            day = String(date.getDate()).padStart(2,'0')
                            month_min = String(date.getMonth()+1).padStart(2,'0') //janeiro é 0 por isso "+1"
                            month_max = String(date.getMonth()+numero_meses_para_fim_repeticao).padStart(2,'0')
                            year = date.getFullYear()
                            date = year+"-"+(month_max)+"-"+day
                            document.getElementById('fim_repeticao').max = date;
                            date = year+"-"+month_min+"-"+day
                            document.getElementById('fim_repeticao').min = date;
                            
                            if(document.getElementById('repetir').checked)
                                document.getElementById(el).style.display = 'block';
                            else
                                document.getElementById(el).style.display = 'none';
                    }
                </script>
                <div class="form-check">
                    {{ form.repetir(class="form-check-input", onclick="mostrarDataFimRepeticao('data_repetir')", autocomplete="off" ) }}
                    {{ form.repetir.label(class="form-check-label") }}
                </div>
                </p>
                <div id="data_repetir" style="display:none;">
                    {{ form.fim_repeticao.label(class="form-control-label") }}
                    {% if form.fim_repeticao.errors %}
                        {{ form.fim_repeticao(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fim_repeticao.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fim_repeticao(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </p>
                <div class="form-group">
                    {{ form.observacoes.label(class="form-control-label") }}
                    {% if form.observacoes.errors %}
                        {{ form.observacoes(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.observacoes.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.observacoes(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            </p>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}