{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1 class="article-title">{{ sala.sala }}</h1>
                <small class="text-muted">{{ sala.campus }}</small>
                {% if sala.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('salas.update_sala', sala_id=sala.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </div>
                {% endif %}
            </div>
            <p class="article-content">Nome da sala: {{ sala.sala }}</p>
            <p class="article-content">Tipo da sala: {{ sala.tipo_sala }}</p>
            <p class="article-content">Tipo de lousa: {{ sala.tipo_lousa }}</p>
            <p class="article-content">Tipo de piso: {{ sala.tipo_piso }}</p>
            <p class="article-content">Capacidade: {{ sala.capacidade }}</p>
            <p class="article-content">Andar: {{ sala.andar }}</p>
            <p class="article-content">Campus: {{ sala.campus }}</p>
            <p class="article-content">Bloco - Torre: {{ sala.bloco_torre }}</p>
        </div>
    </article>
    {% if reservas != null %}
        <article>
            <h1>Reservas</h1>
        </article>
    {% endif %}
    {% for reserva in reservas %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2 class="article-title">{{ reserva.reservante }}</h2>
                </div>
                <p class="article-content">Início: {{ reserva.inicio }}</p>
                <p class="article-content">Fim: {{ reserva.fim }}</p>
            </div>
        </article>
    {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Deletar sala {{ sala.sala }}?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('salas.delete_sala', sala_id=sala.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}